<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.demoz.www">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:name="cn.demoz.www.base.BaseApp">

        <activity android:name=".app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.demoz.www.app.MainActivity"
            android:label="@string/app_name">
            <!--android:theme="@style/AppTheme.Launcher"-->
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="cn.demoz.www.base.DetailActivity"
            android:label="@string/app_detail"
            android:parentActivityName="cn.demoz.www.app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.demoz.www.app.MainActivity" />
        </activity>
        <activity
            android:name=".demos.activity.FlowDemosShowingActivity"
            android:label="@string/flow_demos_show"
            android:parentActivityName="cn.demoz.www.app.MainActivity">
        </activity>
        <!--background service-->
        <service
            android:name="com.wj.servicelibrary.server.WebService">

        </service>
    </application>

</manifest>
